<mat-card class="code-panel-card">
    <mat-card-header>
        <mat-card-title>Code Playground</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-container">
        <div class="code-card-box">
            <div id="editor" class="app-ace-editor" #editor></div>
        </div>
    </mat-card-content>

    <mat-card-content class="card-container">
        <form class="" [formGroup]="stdInputForm">
        <mat-form-field class="example-full-width" style="width:100%">
            <mat-label>Stranded Input</mat-label>
            <textarea matInput formControlName="stdInput" placeholder="Put your input value here before click run."></textarea>
        </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-content class="button-row card-container">
        <button mat-raised-button color="primary" (click)="onSubmit()">
            <mat-icon>play_arrow</mat-icon> RUN
        </button>

        <button mat-raised-button color="warn" (click)="refresh()">
            <mat-icon>repeat</mat-icon> Refresh
        </button>

        <button mat-raised-button color="accent" (click)="clearXtermAndBuffer()">
            <mat-icon>replay</mat-icon> Reset Terminal
        </button>

        <button mat-raised-button (click)="controldplayUploadBox()">
            <mat-icon>cloud_upload</mat-icon> Upload File
        </button>
    </mat-card-content>
    <mat-card-content *ngIf="show_upload"  class="upload-card card-container">


        <label for="uploader" class="drop-container">
            <span class="drop-title">Select files here</span>
            <!-- or -->
            <input type="file" id="uploader" accept=".py" (change)="onChange($event)" class="upload-input" >
            <button (click)="onUpload()" mat-raised-button color="primary">Submit</button>
          </label>

    </mat-card-content>

    <mat-card-content class="card-container">

    </mat-card-content>
    <mat-card-content class="card-container">
        <mat-progress-bar *ngIf="show_progress" mode="indeterminate"></mat-progress-bar>

        <!-- <mat-divider></mat-divider> -->
        <div class="code-card-box">
            <div #xtermTerminal class="xterm-div"></div>
        </div>
    </mat-card-content>


</mat-card>