input {
    width: 90%;
    margin: 2em;
    padding: 0.4em;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    background-color: #f8f8f8;
}

input:focus {
    border-color: rgb(0, 200, 255);
}
