<form class="auth-form">
    <label mat-dialog-title>New Account</label>
    <input mat-dialog-content placeholder="email" class="input-center auth-input" type="text" required #email>
    <span class="center" *ngIf="errorMsg" style="color:red">{{ errorMsg }}</span>
    <input mat-dialog-content placeholder="password" class="input-center auth-input" type="password" required #password>
    <input mat-dialog-content placeholder="confirm password" class="input-center auth-input" type="password" required #confirm_password>
    <mat-card-actions>
        <button mat-raised-button (click)="signup(email.value, password.value, confirm_password.value)">Signup</button><br>
        <p routerLink="/">Already have an account? Log in here</p>

        <!-- <button id="to-login" (click)="toLogin()">Already have an account? Log in here</button> -->
    </mat-card-actions>
</form>

