p {
    font-size: 0.8em;
    margin: 0.5em;
    border:none;
    background-color: inherit;
}

p:hover {
    cursor: pointer;
    color: rgb(0, 200, 255);
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}