<app-toolbar></app-toolbar>

<mat-card>
  <app-question-editor *ngIf="isAdmin && questionTitle && questionContent" 
                        [questionTitle]="questionTitle"
                        [questionText]="questionContent"
                        [qid]="id">
</app-question-editor>

</mat-card>

<mat-card *ngIf="!isAdmin">
    <mat-card-header>
      <mat-card-title>{{questionTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="ql-container ql-snow" style="border-width: 0;">
        <div class="ql-editor"  [innerHTML]="questionContent">hi</div>
        </div>
    </mat-card-content>

  </mat-card>
  <br>

<app-code-panel [questionID]="id"></app-code-panel>