<app-toolbar></app-toolbar>

<app-question-editor *ngIf="isAdmin"></app-question-editor>

<mat-card *ngIf="!isAdmin">
    <mat-card-header>
      <mat-card-title>{{questionTitle}}</mat-card-title>
      <!-- this is for future function that allow to display the question create time -->
      <!-- <mat-card-subtitle>{{questionTime}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <!-- {{questionContent}} -->
        <div class="ql-container ql-snow" style="border-width: 0;">
        <div class="ql-editor"  [innerHTML]="questionContent">hi</div>
        </div>
    </mat-card-content>

  </mat-card>
  <br>

<app-code-panel [questionID]="id"></app-code-panel>