<mat-card class="card_ML">
    <mat-card-header>
        <mat-card-title>Management</mat-card-title>
    </mat-card-header>

    <mat-card-content class="management">
        <div class="button-row option-box">
            <button mat-raised-button color="primary" routerLink='/newQuestion'><mat-icon>note_add</mat-icon>Create New Question</button>
        </div>
        <div class="button-row option-box">
            <button mat-raised-button color="primary" routerLink='/viewUsers'><mat-icon>people</mat-icon>View All Students</button>
        </div>
    </mat-card-content>
</mat-card>