<mat-card>
<form class="auth-form">
    <mat-card-header>
    <label mat-dialog-title>Welcome Back</label>        
    </mat-card-header>

    <mat-card-content>
        <input mat-dialog-content placeholder="email" class="input-center auth-input" type="text" required #email>
        <span class="center" *ngIf="errorMsg" style="color:red">{{ errorMsg }}</span>
    </mat-card-content>

    <mat-card-content>
        <input mat-dialog-content placeholder="password" class="input-center auth-input" type="password" required #password>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="login(email.value, password.value)">Login</button><br>
    </mat-card-actions>
    <p routerLink="/signup" (click)="toSignUp()">Create an account here</p>

</form>
</mat-card>
