<!-- <app-toolbar></app-toolbar> -->

<!-- <mat-card class="card_ML"> -->

    <mat-card-header>
        <mat-card-title>Question Editor</mat-card-title>



    </mat-card-header>
    <form class="" [formGroup]="questionForm">

        <mat-card-content>

            <mat-card-subtitle>Question Title</mat-card-subtitle>

            <mat-form-field class="card-content">
                <mat-label>Question Title</mat-label>
                <input class="card-content " type="text" matInput formControlName="title" (input)="logChange($event);">
            </mat-form-field>

        </mat-card-content>

        <mat-card-content>
            <mat-card-subtitle>Question Description</mat-card-subtitle>
            <div class="ql-container ql-snow text-editor" style="border-width: 0;">

                <quill-editor class="ql-editor" #editor [modules]="modules"
                    (onContentChanged)="logChange($event);" formControlName="editor"></quill-editor>
            </div>
        </mat-card-content>

        <!-- not implimented in the backend!!! -->
        <mat-card-content style="display: none;">
        <!-- <mat-card-content> -->
            <mat-card-subtitle>Question Starter Code</mat-card-subtitle>
            <div class="code-card-box">
                <div id="codeEditor" class="app-ace-editor" #codeEditor></div>
            </div>
        </mat-card-content>

        <mat-card-actions class="button-row">
            <button mat-raised-button color="primary" [disabled]="!questionForm.valid || !newChange" (click)="saveQuestion()">Save</button>
            <button mat-raised-button color="warn" (click)="cancel()">Back</button>
        </mat-card-actions>

        <mat-card-content>
            <p>{{lastModified}}</p>
        </mat-card-content>
    </form>

<!-- </mat-card> -->