/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card_ML {
    max-width: 80%;
    margin:10px auto 10px auto;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}

.full-width{
    width: 100%;
}
.input-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.auth-input {
    color: black;
    width: 90%;
    margin: 2em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    background-color: #f8f8f8;
}

.auth-input:focus {
    border-color: rgb(0, 200, 255);
}

.auth-form {
    padding: 1em;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* .button-row{
    margin-right: 5px;
} */

.button-row button{
    margin-right: 5px;
}